<% content_for :head do %>
  <script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css" type="text/css">
<% end %>


<div id="map"></div>

<h1>YOUR CHOSEN ITINERARY</h1>

<div data-controller="sketch" id="sketch-holder"
data-sketch-startLongitude-value="<% @itinerary.start_longitude %>"
data-sketch-startLatitude-value="<% @itinerary.start_latitude %>"
data-sketch-endLongitude-value="<% @itinerary.end_longitude %>"
data-sketch-endLatitude-value="<% @itinerary.end_latitude %>"
data-sketch-distance-value="<% @itinerary.distance %>"
data-sketch-duration-value="<% @itinerary.duration %>"
data-sketch-mode-value="<% @itinerary.mode %>"
>


</div>

<ul>

  <li><%= @itinerary.start_address %></li>
  <li><%= @itinerary.start_longitude %></li>
  <li><%= @itinerary.start_latitude %></li>
  <li><%= @itinerary.end_address %></li>
  <li><%= @itinerary.end_longitude %></li>
  <li><%= @itinerary.end_latitude %></li>
  <li><%= @itinerary.distance %></li>
  <li><%= @itinerary.duration %></li>
  <li><%= @itinerary.mode %></li>
</ul>

<p><%= @image %></p>

<p><%= link_to "back to all itineraries", itineraries_path %></p>
<p><%=  link_to "back home", root_path %></p>



<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>"
  data-map-start-longitude-value="<%= @itinerary.start_longitude %>"
  data-map-start-latitude-value="<%= @itinerary.start_latitude %>"
  data-map-end-longitude-value="<%= @itinerary.end_longitude %>"
  data-map-end-latitude-value="<%= @itinerary.end_latitude %>"
  data-map-mode-value="<%= @itinerary.mode %>"

  <div id="instructions">

  </div>

  ></div>
