<style>
  /* Light Mode Button Styles
  --------------------------- */
  .light-mode-button {
      background:0;
      border: 0;
      box-sizing: border-box;
      cursor: pointer;
      height: 40px;
      width: 100px;
      position: relative;
      border: 1px solid rgba(255,255,255,0);
  }
  .light-mode-button:focus {
      outline:none; /* Not ideal for accessibility */
  }
  .light-mode-button span:nth-child(1) {
      position: absolute;
      top:0;
      left:0;
      width: 100px;
      height:40px;
      border-radius: 20px;
      background-color: #d6d7db;
      box-shadow: inset 1px 1px 3px 0 rgb(0 0 0 / 40%);
      transition: .3s;
  }
  .light-mode-button span:nth-child(2) {
      position: absolute;
      top:5px;
      left:5px;
      width: 30px;
      height: 30px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 40%);
      transition: .3s;
  }

      body {
      background-color: #f6f6f6;
      transition: background-color .3s;
  }
  body[light-mode=dark] {
      background-color: #272727;
      color: #ced4e2;
  }
  body[light-mode="dark"] .light-mode-button span:nth-child(1){
      background-color: #ced4e2;
      color: #141516;
  }
  body[light-mode=dark] .light-mode-button span:nth-child(2) {
    left: 65px;
      background-color: #141516;
  }
  body[light-mode="dark"] h1{
    color: #d0d9df;
  }
  body[light-mode="dark"] .navbar{
  background-color: #383838;
  }
</style>



<div class="navbar navbar-expand navbar-light navbar-lewagon sticky-top">

  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "nice_messes_logo.png" %>
    <% end %>

    <div class="container">
      <p>Dark Mode Toggle</p>
      <button
          class="light-mode-button"
          aria-label="Toggle Light Mode"
          onclick="toggle_light_mode()">
          <span></span>
          <span></span>
      </button>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item active">
          <i class="fas fa-bars avatar dropdown-toggle", id= "navbarDropdown", data-bs-toggle="dropdown", aria-haspopup="true" aria-expanded="false">
          </i>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "User Profile", "/account", class: "dropdown-item" %>
              <%= link_to "Journeys", itineraries_path, class: "dropdown-item" %>
              <%= link_to "Gallery", "/gallery", class: "dropdown-item" %>
              <%= link_to "History", "#", class: "dropdown-item" %>
              <%= link_to "Settings", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item"%>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<script>
  function toggle_light_mode() {
      var app = document.getElementsByTagName("BODY")[0];
      if (localStorage.lightMode == "dark") {
    localStorage.lightMode = "light";
    app.setAttribute("light-mode", "light");
      } else {
    localStorage.lightMode = "dark";
    app.setAttribute("light-mode", "dark");
      }
  }

    var app = document.getElementsByTagName("BODY")[0];
  if (localStorage.lightMode == "dark") {
      app.setAttribute("light-mode", "dark");
  }
</script>
