<div class="container homepage min-vh-100">
<div class="container p-5">
<h1 class="text-center">CREATE YOUR MESS WITH YOUR LIFE !</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-4 journey-form" data-controller="form">
      <h3>Plan a journey</h3>
        <%= simple_form_for @itinerary, data: {turbo_method: false} do |f| %>

          <%= f.input :start_address,
          input_html: {data: {address_autocomplete_target: "start", action: "input->form#revealEndInput"}, class:"d-none"},
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>

          <%= f.input :end_address,
          input_html: {data: {address_autocomplete_target: "start"}, class:"d-none"},
          wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}%>


          <%= f.input :mode, collection: [["Driving", 0], ["Bicycling", 1], ["Walking", 2]],  prompt: "Select your transportation method",  wrapper_html: { class: '', id:'list', data: {form_target: "mode"}}, input_html: {data: {action: "click->form#submit"}} %>

          <%= f.button :submit, class: "btn btn-outline-secondary", id: "submitbtn", data: {form_target: "submit"} %>
        <% end %>
    </div>
  </div>
  </div>
  <h1 class="galery-title">ARTY GALLERY</h1>
    <div class="wrapper">
      <% Itinerary.all.each do |itinerary| %>
      <% if itinerary.image.key != nil %>
        <div class="card">
          <div class="card-img">
            <%= cl_image_tag("#{itinerary.image.key}", alt: "image", class: "gallery-img") %>
          </div>
          <div class="card-img-overlay"><%= link_to "Journey from #{itinerary.start_address} to #{itinerary.end_address}", itinerary_path(itinerary) %>
          </div>
          <div class="info">
            <div class="info1">
              <h4>MY MESSES N°<%= itinerary.id %></h4>
              <p>From <%= itinerary.start_address %></p>
              <p>To <%= itinerary.end_address %></p>
            </div>
            <div class="info2">
              <p><%= itinerary.duration %></p>
              <p><%= itinerary.mode %></p>
            </div>
          </div>
        </div>
        <% else %>
        <% end %>
      <% end %>
    </div>
  </div>
</div
